/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.cntn-bg {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 11px -5px;
  background-color: white;
}

.txt-3dot {
  text-overflow: ellipsis;
  white-space: nowrap;
}
